.jumbotron, .page-footer {
    background: -webkit-linear-gradient(to right, #2193b0, #6dd5ed); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2193b0, #6dd5ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    margin-top: 50px;
}
a {
    color: var(--gray);
}
.page-footer a{
    color: var(--white);
}
.btn-primary{
    border: 0;
    margin: 1rem;
    padding: 0.5rem;
}